body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.channelsList {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  right: 75%;
  margin-top: 2.3%;

  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  height: 100%;
}

.siteBg {
  background-image: linear-gradient(blue, white);
}

#content {
  position: fixed;
  top: 0.5%;
  margin-top: 4.6%;
  bottom: 0.5%;
  left: 25%;
  right: 0;
  padding: 0;
  z-index: 1000;
  overflow-y: auto;
  height: 100%;
  /* Scrollable contents if viewport is shorter than content. */
}
