html {
  position: relative;
  min-height: 100%;
  background-color: transparent;
  


}

body {
  overflow-x: hidden;
  background-color: transparent;
  background-image: url("WelcomeVideo.mp4");

}
#bubble {
 
  width: 850px;
  border-radius: 50px;
  opacity: 1;
 }
 #bubbles {
  position: relative;
  right: 150px;
  opacity: 1;
 }
 
#welcome{
  color: white
}
#loginForm{
  background: rgba(0, 0, 0, 0.466);
  border-radius: 20px;
  padding:20px;

  
position: relative;
/* background-repeat: no-repeat;
background-size: 800px 600px; */
  top:50px
}
#root,
.all {
  background-color:transparent;
  

}

#header {
  background-color: #004985;
  background-image: url("undraw_Group_chat_unwm.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  background-size: 600px 500px;
  height: 600px;
}

body.sticky-footer {
  margin-bottom: 56px;
}

body.sticky-footer .content-wrapper {
  min-height: calc(100vh - 56px - 56px);
}

body.fixed-nav {
  padding-top: 56px;
}

.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  float: right;
  content: "\f107";
  font-family: "FontAwesome";
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
  content: "\f105";
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
  padding-left: 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  display: block;
  padding: 0.5em 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
  text-decoration: none;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
  padding-left: 1em;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  padding-left: 2em;
}

#mainNav .navbar-collapse .sidenav-toggler {
  display: none;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
  position: relative;
  min-width: 45px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  float: right;
  width: auto;
  content: "\f105";
  border: none;
  font-family: "FontAwesome";
}

#mainNav
  .navbar-collapse
  .navbar-nav
  > .nav-item.dropdown
  > .nav-link
  .indicator {
  position: absolute;
  top: 5px;
  left: 21px;
  font-size: 10px;
}

#mainNav
  .navbar-collapse
  .navbar-nav
  > .nav-item.dropdown.show
  > .nav-link:after {
  content: "\f107";
}

#mainNav
  .navbar-collapse
  .navbar-nav
  > .nav-item.dropdown
  .dropdown-menu
  > .dropdown-item
  > .dropdown-message {
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px;
  }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1em;
  }

  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    padding-left: 0;
    list-style: none;
  }
  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-second-level
    > li,
  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-third-level
    > li {
    width: 250px;
  }

  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-second-level
    > li
    > a,
  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-third-level
    > li
    > a {
    padding: 1em;
  }
  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-second-level
    > li
    > a {
    padding-left: 2.75em;
  }
  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-third-level
    > li
    > a {
    padding-left: 3.75em;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    width: 24px;
    text-align: center;
  }
  #mainNav
    .navbar-collapse
    .navbar-nav
    > .nav-item.dropdown
    .dropdown-menu
    > .dropdown-item
    > .dropdown-message {
    max-width: 300px;
  }
}

#mainNav.fixed-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh - 112px);
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
  }
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: transparent; 

  /* important anfal  */
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: #adb5bd;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dee2e6;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: rgba(0, 0, 0, 0.5);
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px;
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important;
}

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#mainNav.static-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.content-wrapper {
  overflow-x: hidden;
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 250px;
  }
}

#sidenavToggler i {
  font-weight: 800;
}

.navbar-sidenav-tooltip.show {
  display: none;
}

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper {
    margin-left: 55px;
  }
}

body.sidenav-toggled .navbar-sidenav {
  width: 55px;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
  width: 55px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item {
  white-space: nowrap;
}

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  transition: all 0.2s ease-out;
  color: #868e96;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  > .nav-link:hover {
  border-left: 3px solid #ff0080;
  color: #adb5bd;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  > .nav-link.heading {
  transition: all 0.2s ease-out;
  border-left: none;
  color: #adb5bd;
  font-size: 1.2em;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  > .nav-link.heading
  .fa-plus-circle:hover {
  color: #fff;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  > .nav-link.active {
  border-left: 3px solid #800c0c;
  color: #fff;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a,
#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a {
  color: #868e96;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a:focus,
#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a:hover,
#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a:focus,
#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a:hover {
  color: #adb5bd;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-nav
  > .nav-item.dropdown
  > .nav-link:after {
  color: #adb5bd;
}

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #343a40;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
    color: white !important;
    background-color: #49574b;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
    color: white;
  }
  #mainNav.navbar-dark
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-second-level,
  #mainNav.navbar-dark
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-third-level {
    background: #343a40;
  }
}

#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  .nav-link-collapse:after {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  > .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a,
#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a:focus,
#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a:hover,
#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a:focus,
#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light
  .navbar-collapse
  .navbar-nav
  > .nav-item.dropdown
  > .nav-link:after {
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
    color: #000 !important;
    background-color: #e9ecef;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
    color: #000;
  }
  #mainNav.navbar-light
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-second-level,
  #mainNav.navbar-light
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-third-level {
    background: #f8f9fa;
  }
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px;
}

.rounded-pill {
  border-radius: 5rem;
}

@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 250px);
  }
}

@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px);
  }
}

#bubble {
  position: relative;
  left: 300px;

  width: 850px;
  border-radius: 50px;
  opacity: 1;
 }
 #bubbles {
  position: relative;
  right: 150px;
  opacity: 1;
 }

 

 .messages {
  border-radius: 5px 30px 30px 30px;
  background: rgba(85, 80, 88, 0.993);
  padding: 15px;
  width: 450px;
  height: auto;
  position: relative;
  left: 250px;
  margin: 20px;
  color: white;
 }
 

.container {
  background: transparent;
}

.input {
  width: 800px;
  height: 60px;
  border-radius: 25px;
  padding: 15px;
  position: relative;
  left: 60px;
}



.image {
  border-radius: 50%;
  width: 65px;
  position: relative;
  left: 220px;
  top: 20px;
  border-color: green;
  margin-bottom: 8px;
 }
 .timestamp {
  position: relative;
  left: 550px;
  bottom: 47px;
  color: #b8d7f5;
  font-size: 13px;
 }
 .username {
  position: relative;
  left: 230px;
  top: 20px;
  color: white
 }
 #bgIMG {
  border-radius: 50px;
  background-color: rgb(2, 0, 36);
  opacity: 0.9;
  position: relative;
  right:80px;
  top:30px;
 }



#send {
  background: rgba(255, 0, 200, 0.904);
  padding: 7px 12px;
  position: relative;
  left: 1040px;
  bottom: 52px;
  border-color: transparent;
  border-radius: 3rem;

  color: white;
}

#text {
  position: relative;
  bottom: 90px;
  color: white;
  border-color: transparent;


}

#text2 {
  position: relative;
  bottom: 80px;
  color: white;
}

#logout {
  cursor: pointer;
}

#login {
  background-color: #853b71;
  border-color: wheat;
  position: relative;
  bottom: 100px;
}
#login:hover {
  background-color: #b44195;
}

.create {
  background-color: #473843;
}

#createbtn {
  background-color: #853b71;
  border-color: wheat;
}

#createbtn:hover {
  background-color: #b44195;
}

#side {
  position: relative;
  bottom: 400px;
  color: white;
}

#search {
  position: relative;
  top: 40px;
}

#sidecolor {
  color: white;
}

#sidecolor:hover {
  color: #e025ae;
}

#headerdiv {
  background-color: transparent;
}

#loginbtn,
#registerbtn {
  background-color: #853b71;
  border-color: wheat;
}
#loginbtn:hover,
#registerbtn:hover {
  background-color: #b44195;
}


.uglydiv{
  background-color: transparent;
  /* background-image: url("WelcomeVideo.mp4"); */

}

#head{
  background-color: rgba(0, 0, 0, 0.658);
 

  position: relative;
  top:30px;
  padding-bottom: 30px;
}

.bgside{
  background-color: rgba(0, 0, 0, 0.658);
  padding-top:20px;
  
}

.sidelink {
  color:white;
}
.sidelink:hover{
  color:#ff80dd;
}
.reg{
  text-align: center;
  padding-top: 20px;
}
#iconcolor{
  color:white;
}
#iconcolor:hover{
  color:#ff80dd;
}
.textlog, #textlog{
  color: white;
  padding-bottom: 20px;
  padding-left:20px;
}
#welcomelogin{
  color: white;
  width:300px;
  font-weight: bold;
  font-size: 18px;
  background-color:rgb(245, 104, 209)
}

#welcomelogin:hover{
  background-color:rgb(157, 73, 236)
}

#btnin{
  border-radius: 50px;
}
#btnlog{
  border-color:transparent;
  border-radius: 50px;
  background-color:rgb(245, 4, 185)
}
#btnlog:hover{
  background-color:rgb(172, 27, 135)
}
.nav {
  background-color: black;
  color: white;
}
.nav:hover {
  color:rgb(245, 104, 209)
}
