/* html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

body.sticky-footer {
  margin-bottom: 56px;
}

body.sticky-footer .content-wrapper {
  min-height: calc(100vh - 56px - 56px);
}

body.fixed-nav {
  padding-top: 56px;
}

.content-wrapper {
  min-height: calc(100vh - 56px);

}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  float: right;
  content: "\f107";
  font-family: "FontAwesome";
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
  content: "\f105";
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
  padding-left: 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  display: block;
  padding: 0.5em 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
  text-decoration: none;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
  padding-left: 1em;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  padding-left: 2em;
}

#mainNav .navbar-collapse .sidenav-toggler {
  display: none;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
  position: relative;
  min-width: 45px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  float: right;
  width: auto;
  content: "\f105";
  border: none;
  font-family: "FontAwesome";
}

#mainNav
  .navbar-collapse
  .navbar-nav
  > .nav-item.dropdown
  > .nav-link
  .indicator {
  position: absolute;
  top: 5px;
  left: 21px;
  font-size: 10px;
}

#mainNav
  .navbar-collapse
  .navbar-nav
  > .nav-item.dropdown.show
  > .nav-link:after {
  content: "\f107";
}

#mainNav
  .navbar-collapse
  .navbar-nav
  > .nav-item.dropdown
  .dropdown-menu
  > .dropdown-item
  > .dropdown-message {
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px;
  }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    overflow-y: auto;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    padding-left: 0;
    list-style: none;
  }
  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-second-level
    > li,
  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-third-level
    > li {
    width: 250px;
  }
  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-second-level
    > li
    > a,
  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-third-level
    > li
    > a {
    padding: 1em;
  }
  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-second-level
    > li
    > a {
    padding-left: 2.75em;
  }
  #mainNav
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-third-level
    > li
    > a {
    padding-left: 3.75em;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    width: 24px;
    text-align: center;
  }
  #mainNav
    .navbar-collapse
    .navbar-nav
    > .nav-item.dropdown
    .dropdown-menu
    > .dropdown-item
    > .dropdown-message {
    max-width: 300px;
  }
}

#mainNav.fixed-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh - 112px);
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
  }
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #212529;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: #adb5bd;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dee2e6;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: rgba(0, 0, 0, 0.5);
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px;
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important;
}

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#mainNav.static-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.content-wrapper {
  overflow-x: hidden;
  background: white;
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 250px;
  }
}

#sidenavToggler i {
  font-weight: 800;
}

.navbar-sidenav-tooltip.show {
  display: none;
}

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper {
    margin-left: 55px;
  }
}

body.sidenav-toggled .navbar-sidenav {
  width: 55px;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
  width: 55px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item {
  white-space: nowrap;
}

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  transition: all 0.2s ease-out;
  color: #868e96;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  > .nav-link:hover {
  border-left: 3px solid #d62929;
  color: #adb5bd;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  > .nav-link.heading {
  transition: all 0.2s ease-out;
  border-left: none;
  color: #adb5bd;
  font-size: 1.2em;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  > .nav-link.heading
  .fa-plus-circle:hover {
  color: #fff;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  > .nav-link.active {
  border-left: 3px solid #d62929;
  color: #fff;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a,
#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a {
  color: #868e96;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a:focus,
#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a:hover,
#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a:focus,
#mainNav.navbar-dark
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a:hover {
  color: #adb5bd;
}

#mainNav.navbar-dark
  .navbar-collapse
  .navbar-nav
  > .nav-item.dropdown
  > .nav-link:after {
  color: #adb5bd;
}

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #343a40;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
    color: white !important;
    background-color: #495057;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
    color: white;
  }
  #mainNav.navbar-dark
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-second-level,
  #mainNav.navbar-dark
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-third-level {
    background: #343a40;
  }
}

#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  .nav-link-collapse:after {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  > .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a,
#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a:focus,
#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-second-level
  > li
  > a:hover,
#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a:focus,
#mainNav.navbar-light
  .navbar-collapse
  .navbar-sidenav
  > .nav-item
  .sidenav-third-level
  > li
  > a:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light
  .navbar-collapse
  .navbar-nav
  > .nav-item.dropdown
  > .nav-link:after {
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
    color: #000 !important;
    background-color: #e9ecef;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
    color: #000;
  }
  #mainNav.navbar-light
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-second-level,
  #mainNav.navbar-light
    .navbar-collapse
    .navbar-sidenav
    > .nav-item
    .sidenav-third-level {
    background: #f8f9fa;
  }
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px;
}

@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 250px);
  }
}

@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px);
  }
}

.speech-wrapper {
  padding: 0px 0px 40px 40px;
  margin-right: 20px;
}
.speech-wrapper .bubble {
  width: 240px;
  height: auto;
  display: block;
  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: 2px 4px 5px #000;
  position: relative;
  margin: 0 0 25px;
  margin-left: 150px;
  margin-right: 150px;
}
.speech-wrapper .bubble.alt {

}
.speech-wrapper .bubble .txt {
  padding: 8px 55px 8px 14px;
}
.speech-wrapper .bubble .txt .name {
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 4px;
  color: #3498db;
}
.speech-wrapper .bubble .txt .name span {
  font-weight: normal;
  color: #b3b3b3;
}
.speech-wrapper .bubble .txt .name.alt {
  color: #2ecc71;
}
.speech-wrapper .bubble .txt .message {
  font-size: 20px;
  margin: 0;
  color: #2b2b2b;
}
.speech-wrapper .bubble .txt .timestamp {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  text-transform: uppercase;
  color: #999;
}
.speech-wrapper .bubble .bubble-arrow {
  position: absolute;
  width: 0;
  bottom: 42px;
  left: -16px;
  height: 0;
}
.speech-wrapper .bubble .bubble-arrow.alt {
  right: -2px;
  bottom: 40px;
  left: auto;
}
.speech-wrapper .bubble .bubble-arrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 9px solid #d62929;
  border-radius: 0 20px 0;
  width: 15px;
  height: 30px;
  transform: rotate(145deg);
}
.speech-wrapper .bubble .bubble-arrow.alt:after {
  transform: rotate(45deg) scaleY(-1);
  border-top: 9px solid #f5f5f5;
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: #d62929;
  border-radius: 10px;
  outline: 1px solid slategrey;
}
.fixedInput {
  position: fixed !important;
  bottom: 20px;
  right: 0;
}

 */
body,
html {
  height: 100%;
  margin: 0;
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #383d41, #4a4f55, #383d41);
  background: linear-gradient(to right, #383d41, #4a4f55, #383d41);
  overflow-y: hidden;
}

.chat {
  margin-top: auto;
  margin-bottom: auto;
}
.card {
  height: 500px;
  border-radius: 15px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.contacts_body {
  overflow-x: hidden;
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body {
  overflow-x: hidden;
}
.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container {
  align-content: center;
}
.search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
}
.search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.type_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn2 {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn3 {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  color: white !important;
  cursor: pointer;
}
.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.contacts {
  list-style: none;
  padding: 0;
}
.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}
.active {
  background-color: rgba(0, 0, 0, 0.3);
}
.notActive:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}
.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}
.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}
.img_cont_msg {
  height: 40px;
  width: 40px;
}
.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}
.offline {
  background-color: #c23616 !important;
}
.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.user_info span {
  font-size: 20px;
  color: white;
}
.user_info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}
.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}
.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}
.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_head {
  position: relative;
}
#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}
.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.action_menu ul li i {
  padding-right: 10px;
}
.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important;
  }
}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: #13abc3;
  border-radius: 10px;
  outline: 1px solid slategrey;
}
.plainHover:hover {
  color: transparent;
  background-color: black;
}

.OnClick {
  cursor: pointer;
}

/* ------------------------------ */

.emoji-dialog {
  width: 276px;
  height: 220px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 15px rgba(0, 0, 0, 0.1);
}

.emoji-dialog .emojione {
  margin: 0;
}

.emoji-dialog .emoji-dialog-header {
  padding: 0 10px;
  background-color: #f5f7f9;
}

.emoji-dialog .emoji-dialog-header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.emoji-dialog .emoji-dialog-header li {
  display: inline-block;
  box-sizing: border-box;
  height: 42px;
  padding: 9px 5px;
}

.emoji-dialog .emoji-dialog-header li img,
.emoji-dialog .emoji-dialog-header li svg {
  width: 22px;
  height: 22px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.emoji-dialog .emoji-dialog-header li.active {
  background: #fff;
}

.emoji-dialog .emoji-dialog-header li.active img,
.emoji-dialog .emoji-dialog-header li.active svg {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.emoji-dialog .emoji-row {
  box-sizing: border-box;
  overflow-y: hidden;
  padding-left: 10px;
}

.emoji-dialog .emoji-row .emoji {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  margin-right: 7px;
}

.emoji-dialog .emoji-category-header {
  box-sizing: border-box;
  overflow-y: hidden;
  padding: 8px 16px 0;
  display: table;
}

.emoji-dialog .emoji-category-header > * {
  display: table-cell;
  vertical-align: middle;
}

.emoji-dialog .emoji-category-title {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: normal;
  color: #444;
}

.emoji-dialog .emoji-category-heading-decoration {
  text-align: right;
}

.emoji-dialog .modifiers {
  list-style: none;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  white-space: nowrap;
}

.emoji-dialog .modifiers li {
  display: inline-block;
  padding: 0 2px;
}

.emoji-dialog .modifiers li:last-of-type {
  padding-right: 0;
}

.emoji-dialog .modifiers .modifier {
  display: inline-block;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  position: relative;
}

.emoji-dialog .modifiers .modifier.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  border: 2px solid #fff;
  top: 2px;
  left: 2px;
}

.emoji-dialog .modifiers li:hover {
  -moz-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

.emoji-dialog .emoji-search-wrapper {
  padding: 6px 16px;
}

.emoji-dialog .emoji-search {
  font-size: 12px;
  padding: 6px 4px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.emoji-dialog .emoji-categories-wrapper {
  position: absolute;
  top: 42px;
  bottom: 0;
  left: 0;
  right: 0;
}

.emoji-dialog .emoji-search-wrapper + .emoji-categories-wrapper {
  top: 83px;
}

.emoji-dialog .emoji-row .emoji:hover {
  background: #f5f7f9;
}

.emoji-dialog .emoji {
  width: 22px;
  height: 22px;
}
